                                PYTHON PROGRAM ASSIGNMENT 4

1.Write a program to find the factorial of the given number.

In [3]:
n=int(input("Enter a number to find the factorial:"))
f=1
for i in range(1,n+1):
    f=f*i
print("The factorial of",n,"is:",f)

Enter a number to find the factorial:10
The factorial of 10 is: 3628800

2.Write a program to display multiplication table.

In [7]:
m=int(input("Enter the number for which you want to display the Multiplication Table :"))
print("\n\n\t    MULTIPLICATION TABLE FOR",m,"\n\n")
for i in range(1,13):
    print("\t\t",i," * ",m,"=",i*m)

Enter the number for which you want to display the Multiplication Table :12


	    MULTIPLICATION TABLE FOR 12


		 1  *  12 = 12
		 2  *  12 = 24
		 3  *  12 = 36
		 4  *  12 = 48
		 5  *  12 = 60
		 6  *  12 = 72
		 7  *  12 = 84
		 8  *  12 = 96
		 9  *  12 = 108
		 10  *  12 = 120
		 11  *  12 = 132
		 12  *  12 = 144

3. Write a prograam to print the Fibanocci Sequence.

In [14]:
a=1
i=0
b=0
n=int(input("Enter the number of terms :"))
print("\n\nFIBANOCCI SEQUENCE\n")
while(i<n):
    print(b,end="  ")
    c=a+b
    a=b
    b=c
    i=i+1

Enter the number of terms :15


FIBANOCCI SEQUENCE

0  1  1  2  3  5  8  13  21  34  55  89  144  233  377

4.Write a python program to check Armsrong number.

In [16]:
a=int(input("Enter the number to check whether it is an Armstrong number or not :"))
s=0
t=a
n=len(str(a))
while(a>0):
    x=a%10
    s=s+(x**n)
    a=a//10
if s==t:
    print("\nThe number",t,"is an Armstrong Number")
else:
    print("\nThe number",t,"is not an Armstrong Number")

Enter the number to check whether it is an Armstrong number or not :1634

The number 1634 is an Armstrong Number

5.Write Python program to find Armstrong number in an interval.

In [18]:
u=int(input("Enter the Upper limit to find the Armstrong number :"))
l=int(input("Enter the Lower limit to find the Armstrong number :"))
print("\n\nThe Armstrong Numbers from ",l,"to",u,"are :\n")
for i in range(l,u+1):
    p=len(str(i))
    a=i
    s=0
    while(a>0):
        x=a%10
        s=s+(x**p)
        a=a//10
    if i==s:
         print(i,end=" ")

Enter the Upper limit to find the Armstrong number :2000
Enter the Lower limit to find the Armstrong number :100


The Armstrong Numbers from  100 to 2000 are :

153 370 371 407 1634

6. Write a Python program to find the sum of Natural numbers.

In [23]:
n=int(input("Enter the number of terms:"))
s=0
for i in range(1,n+1):
      s=s+i
print("\nThe Sum of First",n,"Natural numbers :", s)

Enter the number of terms:16

The Sum of First 16 Natural numbers : 136